html, body{
  min-height: 100%;
  margin: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.wrapper{
  margin-left: 200px;

}

nav{
    position: fixed;
    height: 100%;
    flex-grow: 1;
    top: 0;
    left: 0;
    background: white;
    width: 185px;
    padding: 10px;
}

/* =====Team===== */
.teamAvatar{
  /* Rectangle 2545: */
  width: 34px;
  height: 34px;
  background: #F55054;
  border-radius: 4px;
  margin:20px 0 0 13px;
  float: left;

}
.team .teamName{
   padding: 30px 0 0 63px;
   font-size: 20px;
}

/* =====User===== */
.user{
  clear: left;
  margin-top: 250px;
}
.user .userAvatar{
  width: 34px;
  height: 34px;
  background: #F55054;
  border-radius: 4px;
  margin:20px 0 0 13px;
  float: left;

}
.user .userName{
   padding: 30px 0 0 70px;
   font-size: 16px;
/*    font-weight: bold; */
}
.user .userRole{
   padding: 5px 0 0 70px;
   font-size: 12px;
   color: #9EA3B3;
}

/* =====Board===== */
.boards {
  margin-top: 40px;
  margin-left: 16px;
  font-size: 18px;
  font-weight: bold;
  flex-grow: 1;
  display: inline-flex;
  flex-direction: column;
}
.addBoards{
  flex-grow: 1;
  display: inline-flex;
  background-color: transparent;
  border:0;
  padding-top:6px;
  margin-left: 70px;
}
/*============================================
Problem: How to do a hover effect on svg
==============================================*/
.addBoards .svg:hover path{
   fill: #2EBFD9;

}

.boardGroup{
   font-size: 14px;
   margin-top: 15px;
   margin-left: 32px;
}

.boardName{
   font-size: 14px;
   margin-top: 18px;

}

#general:hover{
  background-color: #F5F6F5;
}

/* =====Member===== */
.members{
  margin-top: 40px;
  margin-left: 16px;
  font-size: 18px;
  font-weight: bold;
  flex-grow: 1;
  display: inline-flex;
  flex-direction: column;
}
/*============================================
Problem: How to algin addMember with addBoards
==============================================*/
.addMembers{
  flex-grow: 1;
  display: inline-flex;
  margin-left: 50px;
}
.avatar{
  width: 40px;
  height: 40px;
  float: left;
  margin-top: 30px;
  margin-left: 1em;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/* ==========Section========= */

#right{
  background: rgb(240, 245, 245);
  flex-grow: 1;
  height: 1200px;
/*   Can't fix the height?' */
}
.top-nav{
  /*margin: 40px 0 0 40px;*/
}




 /*===== Search Box =====*/
 #namanyay-search-box {
 background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
 background-color: white;
 padding: 10px 0 10px 40px;
 margin: 40px 0 0 2.2vw;
 border-radius:10px 0 0 10px;
 -moz-border-radius:10px 0 0 10px;
 -webkit-border-radius:10px 0 0 10px;
 -o-border-radius:10px 0 0 10px;
 border:0 none;
 width:365px;
 height: 40px;
 flex-grow: 1;
}

.actions{
  display: inline-block;
  vertical-align: top;
  margin: 40px 0 0 45vw;
}
/*===== Activites =====*/
svg polygon:hover{
  fill:red;
}
/*===== Add Link=====*/
.addLink{
  padding: 0 0 0 40px;
}

/*===== Section=====*/
#sections{
  padding: 10px 0 10px 0px;
  margin: 40px 0 0 1vw;
}
#sections ul{
  list-style:none;
  flex-grow: 1;
  display: inline-flex;
	margin:0;
	padding:0
}
#sections ul a{
	display:block;
	color:#32393D;
	text-decoration:none;
	font-weight:700;
	font-size:18px;
	line-height:32px;
	padding:0 30px;
}
/*============================================
PROBLEM
==============================================*/
#sections ul li.current-menu-item{
	color:#2EBFD9;
}
#sections ul li:hover{
	color:#2EBFD9;
  background-color:transparent;
  text-decoration:none;
}

/* ===== Links =====*/
.allBox{
  margin: 100px 2vw 0;
}

.wrapper{
  display: flex;
  height: 100%;
  width: 100%;
}

.box{
  /*  w280 h 268  */
  width: 17vw;
  height: 17vw;
  margin: 1.7vw;
  border-radius: 8px;
  background: white;
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
}

.box-top1{
  background: green;
  flex-grow: 1;
  background-image: url('http://abduzeedo.com/files/originals/b04ef937670265.574c2f7bec405.jpg');
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-size: cover;
  background-position: 50%;
}

.box-bottom1{
  background: white;
  flex-grow: 1;
  margin: 9px 23px;
}

.box-top2{
  background: green;
  flex-grow: 1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-image: url('https://media-mediatemple.netdna-ssl.com/wp-content/uploads/2016/05/bem-website-tools-opt.png');
  background-size: cover;
  background-position: 50%;
}

.box-bottom2{
  background: white;
  flex-grow: 1;
  margin: 9px 23px;
}

.box-top3{
  background: green;
  flex-grow: 1;
  background-image: url('https://mir-s3-cdn-cf.behance.net/projects/404/69dc6a37082913.Y3JvcCwxNDYwLDExNDIsNDYsNDQ.jpg');
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-size: cover;
  background-position: 50%;
}

.box-bottom3{
  background: white;
  flex-grow: 1;
    margin: 9px 23px;
}

.box-top4{
  background: green;
  flex-grow: 1;
  background-image: url('https://ph-files.imgix.net/3bcbe521-1dab-48f2-9902-a215daecca58?auto=format&fit=max&h=570&w=430');
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-size: cover;
  background-position: 50%;
}
.box-bottom4{
  background: white;
  flex-grow: 1;
  margin: 9px 23px;
}

.box-top5{
  background: green;
  flex-grow: 1;
  background-image: url('https://tctechcrunch2011.files.wordpress.com/2015/12/shutterstock_279072494.png?w=680');
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-size: cover;
  background-position: 50%;
}
.box-bottom5{
  background: white;
  flex-grow: 1;
  margin: 9px 23px;
}

.box-top6{
  background: green;
  flex-grow: 1;
  background-image: url('https://d13yacurqjgara.cloudfront.net/users/413551/screenshots/2760257/bugspl.jpg');
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-size: cover;
  background-position: 50%;
}
.box-bottom6{
  background: white;
  flex-grow: 1;
  margin: 9px 23px;
}
.box-top7{
  background: green;
  flex-grow: 1;
  background-image: url('http://www.awwwards.com/awards/submissions/2016/05/57458f2211aed.jpeg');
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-size: cover;
  background-position: 50%;
}
.box-bottom7{
  background: white;
  flex-grow: 1;
  margin: 9px 23px;
}

.box-top8{
  background: green;
  flex-grow: 1;
  background-image: url('https://dl4rygnmrir77.cloudfront.net/muzli_feed/wp-content/uploads/2016/06/06112004/08.jpg');
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-size: cover;
  background-position: 50%;
}
.box-bottom8{
  background: white;
  flex-grow: 1;
  margin: 9px 23px;
}

.box-top9{
  background: green;
  flex-grow: 1;
  background-image: url('https://www.supremo.tv/typeterms/press-kit/screenshot2.jpg');
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-size: cover;
  background-position: 50%;
}
.box-bottom9{
  background: white;
  flex-grow: 1;
  margin: 9px 23px;
}

.box-top10{
  background: green;
  flex-grow: 1;
  background-image: url('https://mir-s3-cdn-cf.behance.net/projects/404/33504635968889.Y3JvcCw5OTgsNzgxLDAsOTIw.jpg');
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-size: cover;
  background-position: 50%;
}
.box-bottom10{
  background: white;
  flex-grow: 1;
  margin: 9px 23px;
}

.box-top10{
  background: green;
  flex-grow: 1;
  background-image: url('https://tctechcrunch2011.files.wordpress.com/2016/06/planner-general-availability-2.png?w=680');
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-size: cover;
  background-position: 50%;
}
.box-bottom10{
  background: white;
  flex-grow: 1;
  margin: 9px 23px;
}
.box-top11{
  background: green;
  flex-grow: 1;
  background-image: url('http://www.piedpiper.com/app/themes/pied-piper/dist/images/interface_large.jpg');
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-size: cover;
  background-position: 50%;
}
.box-bottom11{
  background: white;
  flex-grow: 1;
  margin: 9px 23px;
}
.box-top12{
  background: green;
  flex-grow: 1;
  background-image: url('http://1.design-milk.com/images/2016/06/3D-Lamp-kit-Rowan-Jackman-5-600x901.jpg');
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-size: cover;
  background-position: 50%;
}
.box-bottom12{
  background: white;
  flex-grow: 1;
  margin: 9px 23px;
}







/* ===== Media ===== */
@media all and (max-width: 1000px){
  .box{
    width: 23vw;
    height: 23vw;
  }
}
